<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Danillo Parreira</title>
		<meta http-equiv="Content-Type" content="text/html; charset-utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="Main.html.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body data-spy="scroll" data-target="#myScrollSpy" data-offset="100">
		<div class="container">
			<div class="row">
				<nav class="col-sm-2" id="myScrollSpy">
					<ul class="nav nav-pills nav-stacked">
						<img id="profilePicture" src="../../img/profilePicture.jpg"/>
						<br></br>
						<li class="active"><a href="#projects">Projetos</a></li>
						<li><a href="#about">Sobre</a></li>
						<li><a href="#exp">Experiências</a></li>
						<li><a href="#contact">Contato</a></li>
					</ul>
				</nav>
				<div class="col-sm-8">
					<div id="projects">
						<h1>Projetos</h1>
					</div>
					<div id="about">
						<h1>Sobre</h1>
					</div>
					<div id="exp">
						<h1>Experiências</h1>
					</div>
					<div id="contact">
						<h1>Contato</h1>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>